<!doctype html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Done!</title>

    <!-- Tictail UIKit CSS -->
    <link rel="stylesheet" href="https://sdk.ttcdn.co/tt-uikit-0.11.0.css">
  </head>
  <body>
    <div class="app-container">
      <!-- App Content -->
      <div class="row">
        <header>
          <h1>Appreciate</h1>
        </header>
        <h1>Done!</h1>
        <p>We've received your appreciation request. As soon as it's done, we'll let you know!</p>
      </div>
      <div class="row">
        <a class="btn btn-link">Go back</a>
      </div>
    </div>

    <!-- jQuery (this is required) -->
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

    <!-- Tictail UIKit JavaScript -->
    <script src="https://sdk.ttcdn.co/tt-uikit-0.11.0.js"></script>

    <!-- Tictail JavaScript SDK -->
    <script src="https://sdk.ttcdn.co/tt.0.11.0.js"></script>

    <!-- Your Own JavaScript -->
  </body>
</html>
